.qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  width: 100%;
  margin-top: 2rem;
}

.emptyBox {
  border: 2px solid black;
  height: 15rem;
  width: 15rem;
}

/*MEDIA QUERIES 780PX MOBILE*/

@media only screen and (max-width: 780px) {
  .container {
    display: block;
  }
}

@media only screen and (min-width: 780px) {
  .formContainer {
    display: flex !important;
    align-items: center;
  }
}
